<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MahjongChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABEF50A01BCF96C3001512F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABEF50B91BCF96C3001512F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABEF50C41BCF96C3001512F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
